.personal_title h5{
    font-size: 1.375rem;
    color: #003969;
    font-weight: bold;
}


.lebel_div{
    font-size: 1.125rem;
    color: #000000;
    font-weight: bold;
}


.profile_edit_btn .edit_pro_btn button{
    background-color: #003969;
    color: #ffffff;
    border-radius: 5px !important;
    font-size: 1rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.update_top_head h5{
    font-size: 0.938rem;
    color: #5D5C5C;
    font-weight: lighter;
}
.profile_picture {
    border: 2px solid #FAFAFB!important; 
    height: 18rem;
}
.dotted_border{
    border-style: dotted;
    color: #BECBD5;
}


.update_file_img{
    padding: 1rem 1rem;
}
.profile_img_edit img{
    height: 80px;
    width: 80px;
}
